@charset "utf-8";
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	background: url(images/paper.jpg) center top no-repeat fixed;
  font-family: Century Gothic, Helvetica, sans-serif;
	font-size: 14pt;
	color: #fff;
	line-height: 16pt;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;
}
.header {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  background: url(images/bar.gif) repeat-x;
  background-size: 100%;
}
.content {
  flex: 1;
  margin-top: 20px;
  width: 100%;
}
.inner-content {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.masthead {
	width: 600px;
	height: 92px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
.navbar {
	width: 487px;
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}
.navbutton {
  display: inline-block;
  height: 54px;
}
.navbutton.skills {
  background: url(images/buttons/skills.png);
  width: 74px;
}
.navbutton.skills:hover {
  background: url(images/buttons/skillsr.png);
}
.navbutton.work {
  background: url(images/buttons/work.png);
  width: 74px;
}
.navbutton.work:hover {
  background: url(images/buttons/workr.png);
}
.navbutton.about {
  background: url(images/buttons/about.png);
  width: 124px;
}
.navbutton.about:hover {
  background: url(images/buttons/aboutr.png);
}
.navbutton.contact {
  background: url(images/buttons/contact.png);
  width: 98px;
}
.navbutton.contact:hover {
  background: url(images/buttons/contactr.png);
}

.image-link {
	color: black;
	text-decoration: none;
}

.logo {
	width: 200px;
	height: 200px;
	float: right;
	padding-left: 20px;
	position: absolute
}

.contact-icon {
  float: left;
  margin-right: 40px;
	font-size: 6em;
}

.tagline {
  text-align: center;
}

.twocol {
  width:500px;
  display: inline-block;
	float:left;
}

.indent {
  margin-left: 40px;
  margin-right: 40px;
}

img{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

a:link {color: #fff;}
a:visited {color: #E0D1C2;}
a:active {color: #AD855C}
a:hover {color: #C2A385}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
	color: #7a7c3b;
	font-size: 9pt;
  background: url(images/bar.gif) repeat-x;
  background-size: 100%;
}
.clear {
	clear: both
}
.hide {
	display: none;
}
