<h2>About Me</h2>
<div class="indent">
  <div class='twocol'>
    {{#each model as |aboutme index|}}
      {{aboutme.value}}
      {{#if (lt index lastItemIndex)}}<br><br>{{/if}}
    {{/each}}
  </div>

  <div class='twocol'>
    <img src='/assets/images/wake.png' alt='Me enjoying the wake at Mara Lake, BC' title='Me enjoying the wake at Mara Lake, BC' align='middle' />
  </div>
</div>
